
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    background-image: url('balanca1.jpg'); 
    background-size: cover;


}


.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 22px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    font-size: 16px;
}


button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: rgb(17, 16, 16);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #e8150a;
}

.resultado {
    margin-top: 20px;
}

#valor-imc {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

#classificacao-imc {
    color: #0066cc;
    font-style: italic;
    margin: 0;
}